<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>蛋糕配送管理平台</title>
  <script type="text/javascript">
      window._AMapSecurityConfig = {
          securityJsCode:'476ba3c28652ecdf1fbbfcd43722b7f0',  //真实项目中，需要一个后端代理接口，保证密钥的安全性
      }
  </script>
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=b3fdfdfa194f0e9259fe6403aceff876&plugin=AMap.MouseTool"></script> 
</head>
<body>
  <div id="root"></div>
</body>
</html>